<nav class="navigation" role="navigation">
    <div class="home-icon">
        <img 
            height="30px"
            width="30px"
            src="assets/25694.png"
            alt="test" />
        <p>Home</p>
    </div>
    <ul class="nav">
        <li class="toolbar-item">
            <img
                height="30px"
                width="30px"
                src="assets/projects-icon-placeholder.png"
                alt="Icon for projects link"
            />
            <p>Projects</p>
        </li>
        <li class="toolbar-item">
            <img
                height="30px"
                width="30px"
                src="assets/skills-icon-placeholder.png"
                alt="Icon for skills link"
            />
            <p>Skills</p>
        </li>
        <li class="toolbar-item">
            <img
                height="30px"
                width="30px"
                src="assets/blog-icon-placeholder.png"
                alt="Icon for blog link"
            />
            <p>Blog</p>
        </li>
        <li class="toolbar-item">
            <img
                height="30px"
                width="30px"
                src="assets/contact-icon-placeholder.png"
                alt="Icon for contact link"
            />
            <p>Contact</p>
        </li>
    </ul>
    <div>
        <p>JakeSaintG</p>
    </div>
    <div class="menu" (click)="test()">|||</div>
</nav>
